.main-header {
  background-image: url('../img/header.jpg');
  background-repeat: no-repeat;
}
.main-header__menu {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: auto;
}
.main-header__logo-description {
  position: absolute;
  margin-top: 12px;
}
.main-header__logo-name {
  margin: 0;
  text-align: center;
  width: 200px;
  font-size: 60px;
  line-height: 1;
}
.main-header__logo-title {
  margin: 0;
  width: 200px;
  text-align: center;
  color: #444444;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 100;
}
.main-header__logo::before {
  position: absolute;
  content: '';
  width: 200px;
  height: 146px;
  background-image: url('../img/bely_flag.svg');
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
}
.main-header__menu-list {
  width: 670px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 25px 0 25px 0;
  text-align: right;
  text-transform: uppercase;
  font-size: 19px;
  font-family: 'Montserrat';
  font-weight: bold;
}
.main-header__menu-item {
  margin: 0;
  width: 170px;
}
.main-header__menu-href {
  text-decoration: none;
  color: black;
}
