.main-header {
  background-image: url('../img/header.jpg');
  background-repeat: no-repeat;
}
.main-header__menu {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: auto;
}
.main-header__logo-description {
  position: absolute;
  margin-top: 12px;
}
.main-header__logo-name {
  margin: 0;
  text-align: center;
  width: 200px;
  font-size: 60px;
  line-height: 1;
}
.main-header__logo-title {
  margin: 0;
  width: 200px;
  text-align: center;
  color: #444444;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 100;
}
.main-header__logo::before {
  position: absolute;
  content: '';
  width: 200px;
  height: 146px;
  background-image: url('../img/bely_flag.svg');
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
}
.main-header__menu-list {
  width: 670px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 25px 0 25px 0;
  text-align: right;
  text-transform: uppercase;
  font-size: 19px;
  font-family: 'Montserrat';
  font-weight: bold;
}
.main-header__menu-item {
  margin: 0;
  width: 170px;
}
.main-header__menu-href {
  text-decoration: none;
  color: black;
}
.welcome {
  background-image: url('../img/background-welcome.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  padding-bottom: 927px;
}
.welcome__title {
  margin: 0;
  padding-top: 320px;
  text-align: center;
  font-family: 'Savoye';
  font-size: 30px;
}
.welcome__order {
  text-decoration: none;
  margin: auto;
  font-family: 'Montserrat';
}
.author__wrapper {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: auto;
  margin-top: 100px;
  padding-bottom: 296px;
}
.author__image {
  height: 500px;
  border-radius: 50%;
}
.author__description {
  margin: 0;
  margin-top: 100px;
  width: 550px;
  text-align: center;
}
.example {
  background-color: #f2f2f2;
  padding-bottom: 80px;
}
.example__list {
  list-style: none;
  margin: 0;
  margin-top: 120px;
  margin-bottom: 40px;
  padding: 0;
}
.example__item {
  width: 1000px;
  padding: 0;
  margin: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.example__description {
  margin: 0;
  width: 500px;
}
.example__image {
  width: 400px;
  height: 400px;
}
.example__left {
  border: none;
  background-color: #f2f2f2;
}
.example__right {
  border: none;
  background-color: #f2f2f2;
}
.example__left:after {
  content: '';
  position: absolute;
  width: 65px;
  height: 65px;
  background-image: url('../img/right-arrow.svg');
  background-repeat: no-repeat;
  transform: rotate(180deg);
}
.example__right:after {
  content: '';
  position: absolute;
  width: 65px;
  height: 65px;
  margin-left: -65px;
  background-image: url('../img/right-arrow.svg');
  background-repeat: no-repeat;
}
.example__buttons {
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.best__list {
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 1100px;
}
.best__item {
  width: 300px;
  margin: 0;
  padding: 0;
  border: 2px solid #f2f2f2;
  border-radius: 20px;
}
.best__note {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Montserrat';
  font-size: 20px;
}
.order {
  background-image: url('../img/marble.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.order__wrapper {
  width: 1100px;
  margin: auto;
  border-radius: 20px;
  background-color: white;
  padding-bottom: 120px;
}
.order__title {
  padding-top: 10px;
}
.order__form {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: auto;
  margin-top: 90px;
}
.order__group {
  width: 420px;
}
.order__data {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.order__input {
  font-family: 'Montserrat';
  border: none;
  background-color: #f2f2f2;
  width: 249px;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 10px;
  margin-top: 8px;
}
.order__text {
  border: none;
  background-color: #f2f2f2;
  width: 249px;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 10px;
  padding-top: 8px;
  margin-top: 8px;
  font-family: 'Montserrat';
}
.order__select {
  font-family: 'Montserrat';
  border: none;
  background-color: #f2f2f2;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 260px;
  padding-left: 10px;
}
.order__option {
  font-family: 'Montserrat';
  border: none;
  background-color: #f2f2f2;
}
.map__wrapper {
  margin: auto;
  position: absolute;
  left: 50%;
  top: 3670px;
  margin-left: -500px;
  background-color: white;
  width: 1000px;
}
.map__title {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 40px;
  padding-top: 30px;
}
.map__production {
  margin-top: 20px;
  margin-bottom: 8px;
  padding-left: 20px;
}
.map__important {
  font-family: 'Montserrat';
  font-size: 20px;
  margin-left: 10px;
  margin-top: 4px;
  text-align: right;
}
.map__info {
  font-style: normal;
  display: flex;
  justify-content: space-between;
  width: 980px;
  margin: auto;
}
.map__group {
  width: 420px;
}
.map__group p {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
@font-face {
  font-family: 'Savoye';
  src: url('../fonts/14274.ttf');
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.ttf');
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Savoye';
  color: #222222;
  font-size: 34px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.section-title {
  font-family: 'Montserrat';
  text-align: center;
  color: black;
  font-size: 44px;
  margin: 0;
  padding-top: 50px;
}
