.main-header {
  background-image: url('../img/header.jpg');
  background-repeat: no-repeat;
}
.main-header__menu {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: auto;
}
.main-header__logo-description {
  position: absolute;
  margin-top: 12px;
}
.main-header__logo-name {
  margin: 0;
  text-align: center;
  width: 200px;
  font-size: 60px;
  line-height: 1;
}
.main-header__logo-title {
  margin: 0;
  width: 200px;
  text-align: center;
  color: #444444;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 100;
}
.main-header__logo::before {
  position: absolute;
  content: '';
  width: 200px;
  height: 146px;
  background-image: url('../img/bely_flag.svg');
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
}
.main-header__menu-list {
  width: 760px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 25px 0 25px 0;
  text-align: right;
  text-transform: uppercase;
  font-size: 19px;
  font-family: 'Montserrat';
  font-weight: bold;
}
.main-header__menu-item {
  margin: 0;
  width: 170px;
}
.main-header__menu-href {
  text-decoration: none;
  color: black;
}
@media (max-width: 1200px) {
  .main-header {
    background-image: url('../img/header-mobile.jpg');
  }
  .main-header__logo-description {
    margin-top: 8px;
  }
  .main-header__logo-name {
    width: 160px;
    margin-left: 10px;
    font-size: 56px;
    font-weight: normal;
  }
  .main-header__logo-title {
    width: 160px;
    margin-left: 10px;
    line-height: 0.8;
  }
  .main-header__menu {
    flex-direction: column;
    width: 300px;
    padding-bottom: 56px;
  }
  .main-header__menu-list {
    width: 300px;
    margin-top: 140px;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 0px;
    display: none;
  }
  .main-header__menu-item {
    width: 320px;
    text-align: center;
    margin-top: 10px;
  }
  .main-header__logo::before {
    width: 160px;
    margin-left: 10px;
    box-shadow: 0 -36px 10px rgba(0, 0, 0, 0.5);
  }
  .main-header__menu-button:focus {
    border: none;
  }
  .main-header__menu-button::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 240px;
    background-image: url('../img/icon-menu.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.welcome {
  background-image: url('../img/background-welcome.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  padding-bottom: 927px;
}
.welcome__title {
  margin: 0;
  padding-top: 320px;
  text-align: center;
  font-family: 'Savoye';
  font-size: 30px;
}
.welcome__order {
  text-decoration: none;
  margin: auto;
  font-family: 'Montserrat';
}
@media (max-width: 1200px) {
  .welcome {
    padding-bottom: 700px;
    background-size: 1200px;
  }
}
.author__wrapper {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: auto;
  margin-top: 100px;
  padding-bottom: 296px;
}
.author__image {
  height: 500px;
  width: 500px;
  border-radius: 50%;
}
.author__description {
  margin: 0;
  margin-top: 100px;
  width: 550px;
  text-align: center;
}
@media (max-width: 1200px) {
  .author__wrapper {
    flex-direction: column;
    width: 320px;
    margin-top: 50px;
    padding-bottom: 100px;
  }
  .author__image {
    width: 300px;
    height: 300px;
    margin: auto;
  }
  .author__description {
    width: 300px;
    margin: auto;
    margin-top: 50px;
  }
}
.example {
  background-color: #f2f2f2;
  padding-bottom: 80px;
}
.example__list {
  list-style: none;
  margin: 0;
  margin-top: 120px;
  margin-bottom: 40px;
  padding: 0;
}
.example__item {
  width: 1000px;
  padding: 0;
  margin: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.example__description {
  margin: 0;
  width: 500px;
}
.example__description p {
  margin: 0px;
  margin-top: 10px;
}
.example__composition {
  margin-top: 20px;
}
.example__type {
  font-size: 34px;
  font-family: 'Montserrat';
}
.example__name {
  font-family: 'Montserrat';
  font-size: 28px;
}
.example__note {
  font-family: 'Savoye';
}
.example__image {
  width: 400px;
  height: 400px;
}
.example__left {
  border: none;
  background-color: #f2f2f2;
}
.example__right {
  border: none;
  background-color: #f2f2f2;
}
.example__left:after {
  content: '';
  position: absolute;
  width: 65px;
  height: 65px;
  background-image: url('../img/right-arrow.svg');
  background-repeat: no-repeat;
  transform: rotate(180deg);
}
.example__right:after {
  content: '';
  position: absolute;
  width: 65px;
  height: 65px;
  margin-left: -65px;
  background-image: url('../img/right-arrow.svg');
  background-repeat: no-repeat;
}
.example__buttons {
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .example__list {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .example__item {
    flex-direction: column;
    width: 320px;
  }
  .example__description {
    width: 300px;
    margin: auto;
    text-align: justify;
  }
  .example__type {
    font-size: 32px;
  }
  .example__composition {
    margin-top: 10px;
  }
  .example__image {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 10px;
  }
  .example__buttons {
    width: 300px;
  }
}
.best__list {
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 1100px;
}
.best__item {
  width: 300px;
  margin: 0;
  padding: 0;
  border: 2px solid #f2f2f2;
  border-radius: 20px;
}
.best__note {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Montserrat';
  font-size: 20px;
}
@media (max-width: 1200px) {
  .best__list {
    width: 300px;
    margin-top: 30px;
    flex-direction: column;
  }
  .best__item {
    margin-top: 30px;
  }
}
.order {
  background-image: url('../img/marble.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.order__wrapper {
  width: 1100px;
  margin: auto;
  border-radius: 20px;
  background-color: white;
  padding-bottom: 120px;
}
.order__title {
  padding-top: 10px;
}
.order__form {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: auto;
  margin-top: 90px;
}
.order__group {
  width: 420px;
}
.order__data {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.order__input {
  font-family: 'Montserrat';
  border: none;
  background-color: #f2f2f2;
  width: 249px;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 10px;
  margin-top: 8px;
}
.order__text {
  border: none;
  background-color: #f2f2f2;
  width: 249px;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 8px;
  font-family: 'Montserrat';
}
.order__select {
  font-family: 'Montserrat';
  border: none;
  background-color: #f2f2f2;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 260px;
  padding-left: 10px;
}
.order__option {
  font-family: 'Montserrat';
  border: none;
  background-color: #f2f2f2;
}
.hidden {
  display: none;
}
@media (max-width: 1200px) {
  .order {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .order__wrapper {
    width: 310px;
  }
  .order__form {
    width: 290px;
    margin-top: 20px;
    margin: auto;
  }
  .order__form {
    flex-direction: column;
  }
  .order__group {
    width: 280px;
    margin: auto;
  }
  .order__data {
    flex-direction: column;
  }
  .order__select {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 280px;
  }
  .order__input {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 270px;
  }
  .order__text {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 270px;
  }
}
.map {
  background-image: url('../img/map2.png');
  background-position-x: center;
  background-size: 2000px;
  padding-bottom: 600px;
  padding-top: 80px;
  background-repeat: no-repeat;
}
.map__wrapper {
  margin: auto;
  background-color: white;
  width: 1000px;
}
.map__title {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 40px;
  padding-top: 30px;
}
.map__production {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 8px;
  width: 900px;
  font-family: 'Montserrat';
  font-size: 22px;
}
.map__category {
  font-family: 'Montserrat';
  font-size: 22px;
}
.map__important {
  margin-left: 10px;
  margin-top: 4px;
  text-align: right;
}
.map__info {
  font-style: normal;
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: auto;
}
.map__group {
  width: 420px;
}
.map__group p {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .map {
    background-image: url('../img/map-mobile2.png');
    background-size: 1200px;
    background-position-y: -130px;
    padding-top: 40px;
    padding-bottom: 400px;
  }
  .map__wrapper {
    width: 310px;
  }
  .map__production {
    width: 280px;
    text-align: justify;
  }
  .map__info {
    flex-direction: column;
    width: 280px;
  }
  .map__group {
    width: 280px;
  }
}
.main-footer {
  margin-top: 20px;
}
@font-face {
  font-family: 'Savoye';
  src: url('../fonts/14274.ttf');
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.ttf');
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Savoye';
  color: #222222;
  font-size: 34px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.section-title {
  font-family: 'Montserrat';
  text-align: center;
  color: black;
  font-size: 44px;
  margin: 0;
  padding-top: 50px;
}
.open {
  display: block;
}
@media (max-width: 1200px) {
  .section-title {
    font-size: 38px;
    padding-top: 26px;
  }
}
