.map {
    background-image: url('../img/map.png');
    background-position-x: center;
    background-size: 2000px;
    padding-bottom: 1000px;
}

.map__wrapper {
    background-color: white;
    width: 600px;
    margin-left: 20%;
}

.map__title {
    margin: 0;
}