@import "header.less";
@import "welcome.less";
@import "author.less";
@import "example.less";
@import "best.less";
@import "order.less";
@import "map.less";
@import "footer.less";

@font-face {
    font-family: 'Savoye';
    src: url('../fonts/14274.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.ttf');
}

@desktop-width: 1200px;


body {
    margin: 0;
    padding: 0;
    font-family: 'Savoye';
    color: #222222;
    font-size: 34px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

.section-title {
    font-family: 'Montserrat';
    text-align: center;
    color: black;
    font-size: 44px;
    margin: 0;
    padding-top: 50px;
}

@media (max-width: @desktop-width) {
    .section-title {
        font-size: 38px;
        padding-top: 26px;
    }
}